<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    nazdar

    <h1>{{ object.title }}</h1>
    <p>Product: {{ product }}</p>
    <p>Product: {{ product.description }}</p>
    <p>View: {{ view }}</p>
    <p>High Price: {{ high }}</p>
    <p>Low Price: {{ low }}</p>
    <p>Average Price: {{ avg.avg_price }}</p>
</body>
</html>
